name: Check DL URL
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Download webpage
      run: curl -o webpage.html -L https://developer.android.com/studio/run/win-usb


    - name: Extract download URL
      run: dlurl=$(grep -o -m 1 'https://dl.google.com/[^"]*' webpage.html) && echo "$dlurl" > dlurl.txt

    - name: Create or update dlurl.txt
      run: |
        git config --global user.email "actions@github.com"
        git config --global user.name "GitHub Actions"
        git add dlurl.txt
        git commit -m "Auto Update Driver URL"
        git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }
        git push
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
