name: Check DL URL
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Download webpage
      run: curl -o webpage.html -L https://developer.android.com/studio/run/win-usb

    - name: Extract download URL
      run: dlurl=$(grep -o -m 1 'https://dl.google.com/[^"]*' webpage.html)

    - name: Create or update dlurl.txt
      run: |
        echo "$dlurl" > dlurl.txt
        echo "Contents of dlurl.txt:"
        cat dlurl.txt
        echo "Base64 encoded contents of dlurl.txt:"
        base64 dlurl.txt
        curl -X PUT \
          -H "Authorization: token ${{ secrets.TOKEN }}" \
          -H "Accept: application/vnd.github.v3+json" \
          -d '{"message": "Update dlurl.txt", "content": "'$(base64 -w0 dlurl.txt)'"}' \
          https://api.github.com/repos/${{ github.repository }}/contents/dlurl.txt
